/* added a background color to the header */
/* I could also use this code for the header content:

.top {
  background-color: #191970;
  color: white;
}
*/

header {
  background-color: #191970;
}

h1 {
  color: white;
}

p {
  color: white;
}

/* added a background and text color to my class div */

.info {
  background-color: #87CEFA;
  color: #2E8B57;
  text-align: center;
}

/* wanted to make my image smaller */

img {
  height:50%;
  width:50%;
}

/* added background and text color to h3 */

h3 {
  background-color: #FFEFD5;
  color: #A0522D;
}
